:root{
    ---main-bg: rgb(78, 216, 184);
    --padding-amount: 10px;
    --primary-color: orange;
}

.class1{
    --class1-variable: red;
}
.class1{
    height: 500px;
    width: 500px;
    background-color: var(--primary-color);
}

body{
    background-color: var(---main-bg);
}