body{
    margin: 0px;
}
 .container{
    display: flex;
    background-color: bisque;
    /* width: 100vw; */
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
 }

 .container div{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    margin: 5px;
    /* font-size: 20px; */
    /* color: aliceblue; */
 }

 .item8{
    order: -1;
    flex-grow: 1;
    flex-shrink: 2;
 }

 .item3{
    order: 2;
    flex-grow: 2;
 }

 .item1{
    order: 3;
    flex-grow: 2;
    font-size: 30px;

 }

@media screen and (width<992px) {
    .container{
        background-color: wheat;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (width<600px) {
    .container{
        background-color: violet;
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        flex-direction: column;

    }
}